@font-face {
  font-family: 'Suisse Sign';
  src: url('./SuisseSign-Bold-WebS.woff2') format('woff2'), url('./SuisseSign-Bold-WebS.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Sign';
  src: url('./SuisseSign-Regular-WebS.woff2') format('woff2'), url('./SuisseSign-Regular-WebS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('./SuisseIntlMono-Regular-WebS.woff2') format('woff2'), url('./SuisseIntlMono-Regular-WebS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}